
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A1A2A;
    padding: 20px;
    text-align: center;
}
.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
}



.contact-btn {
    background: #FFD700;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}
.contact-btn:hover {
    background: #E6C300;
}
