* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open{
    display:flex
}


.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-height:100px;
    background-color: #3E424B;
    color:#0A1A2A;
    padding:0 40px;

}
.logo{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    border-radius:50%;
    border:1px solid #FAF6F2;
    width:90px;
    height:90px;
}
nav{
    display:flex;
    width:700px;
    padding: 0 40 px;

}
.nav ul{
    width:100%;
    list-style:none;
    display:flex;
    justify-content: space-between;

}
.burger{
    display:flex;
    position:relative;
    z-index:50;
    align-items:center;
    justify-content:flex-end;
    width:30px;
    height:18px;
}

.burger span{
    height:2px;
    width:80%;
    transform:scale(1);
    background-color: #FAF6F2;
}
.burger::before, .burger::after{
    content:'';
    position:absolute;
    height:2px;
    width:100%;
    background-color: #FAF6F2;
    transition:all 0.3s ease 0s;

}
.burger::before{top:0}
.burger::after{bottom:0}
.burger.active span{transform:scale(0)}
.burger.active::before{
    top:50%;
    transform:rotate(-45deg) translate(0,-50%);
}

.burger.active::after{
    bottom:50%;
    transform:rotate(45deg) translate(0,50%);
}
@media(max-width: 900px){
.burger{display:flex}
.nav{
    display:flex;
    flex-direction:column;
    position:fixed;
    height:100%;
    width:100%;
    top:0;bottom:0; left:0; right:0;
    z-index:50;
    overflow-y:auto;
    padding:50px 40px;
    background-color: burgerAnimation 0.4s;

}
.nav ul{
    flex-direction:column;
    row-gap:30px;
}
}
@keyframes burgerAnimation {
    from{opacity:0}
    to{opacity:1}
}
.menu {
    color:white;
    display: flex;
    justify-content: space-between;
    width: 500px;

}
.logo-text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}


.menu-element{
    font-size: 20px;
}

.contact-btn {
    background: #FFD700;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}
.contact-btn:hover {
    background: #E6C300;
}
.body {
    background-color: rgb(21,21,86);
}
/* .img1 {
    position: flex;
    width: 100%;
    height: 560px;
    top: 107px;
    opacity: 0.7;
    border-radius: px;
    margin-bottom: 100px;
    } */


.background{
        background-image: url('./img/image\ 1.png'); /* Замініть на ваше посилання на зображення */
        background-size: cover; /* Розтягує зображення, щоб воно покривало весь блок */
        background-position: center; /* Центрує зображення */
        background-repeat: no-repeat; /* Запобігає повторенню зображення */
        width: 100%;
        height: 600px; /* Встановіть бажану висоту */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; /* Колір тексту */
        text-align: center;
        border-radius: 8px; /* Заокруглені кути */
        position: relative;
    
}
.main-text {
height: 85px;
font-family: 'jsMath-cmr10';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 39px;
color: #FFFFFF;

}
.second-text {
height: 129px;
font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #FFFFFF;
}
.shatl-title, .room-title,.delivery-title, .souvenirs-title{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #FFFFFF;
text-align:center ;
margin: 25px;
}

.card{
    width:30% ;
    text-align: center;
    padding: 10px;
}



.shatl-img{
width: 300px;
height: 300px;

border-radius: 90px;
}
.shatl-desc {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}
.shatls-block{
    max-width: 1200px;
    background: rgba(118, 40, 40, 0.6);
    border-radius: 50px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:20px;
}
.delivery-block {
    max-width: 1200px;
    background: rgba(235, 153, 153, 0.6);
    border-radius: 50px;
    display:flex;
    margin: 0 auto;
    padding:20px;
    flex-direction: column;

    }
    .souvenirs-block {
        max-width: 1200px;
        background: rgba(238, 207, 207, 0.6);
        border-radius: 50px;
        display:flex;
        justify-content: space-between;
        margin: 0 auto;
        padding:20px;
        }
.room-block {   
max-width: 1200px;
background: rgba(242, 84, 84, 0.6);
border-radius: 50px;
display:flex;
justify-content: space-around;
margin: 0 auto;
padding:20px;
}
.room-img {
width: 330px;
height: 330px;
border-radius: 60px;
}

.room-desc {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
}

.delivery-img {
width: 391px;
height: 391px;
border-radius: 90px;
}
.delivery-text {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
width: 300px;
}
.delivery-card{
    display: flex;
    justify-content:space-between ;
    width: 1000px;
    margin: 0 auto; 
 margin-bottom: 20px;
 align-items: center;
}

.souvenirs-img {
width: 335px;
height: 335px;
border-radius: 90px;
}

.souvenirs-text {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}
.buy-btn{
    background-color: #E6C300;
    border-radius: 90px;
    padding: 20px;
    font-size: 25px;
}
.container-btn {
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 40px;
}
/* .buy-btn{
position: absolute;
width: 561px;
height: 119px;
left: 461px;
top: 2346px;
margin-top: 700px;
background: #6D2E2E;
border-radius: 180px;
} */
/* .text_buy{
position: absolute;
width: 480.92px;
height: 84.05px;
left: 502px;
top: 2380.45px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #FFFFFF;
margin-top: 700px;
} */

  
/* Затемнений фон */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний фон */
  z-index: 999;
}
/* Стиль модального вікна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #84868a, #72757d); /* Перехід між відтінками коричневого */
  color: #fff; /* Білий текст */
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 380px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  animation: fadeIn 0.3s ease-in-out;
}
/* Анімація появи */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-50%, -55%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}
/* Стиль заголовка */
.modal h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
/* Закриваюча кнопка */
.close {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.close:hover {
  color: #ffcc99;
}

/* Стилі для форми */
.modal form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Стиль для полів введення */
.shatl-name, .delivery-name, .room-name, .souvenirs-name {
  width: 100%;
  background-color: #c4c7cf; /* Кремовий фон для тексту */
  color: #333333; /* Темний текст */
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.shatl-name, .delivery-name, .room-name, .souvenirs-name{
  border: 2px solid #000000;
}
.selected-card {
  border: 2px solid #00FF7F; /* Світло-зелена рамка */
  box-shadow: 0 0 10px #00FF7F; /* М'яке підсвічування */
  border-radius: 8px; /* Закруглені кути */
  background-color: rgba(0, 255, 127, 0.1); /* Легке зелене підсвічування */
  transition: all 0.3s ease-in-out;
}


/* Стиль кнопки */
.modal-button {
  background: #5e5f61; /* Темно-коричневий */
  color: #fff;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
  padding: 25px;
}

.modal-button:hover {
  background: #A0522D; /* Трохи темніший відтінок */
}
.thanks {
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #333333; /* Темний текст */
}
.myname {
  width: 100%;
  background-color: #c4c7cf; /* Кремовий фон для тексту */
  color: #333333; /* Темний текст */
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.container{
    max-width:1170px;
    background-color: #0A1A2A;
    margin: 0 auto;
    }
    .row{
        display:flex;
        flex-wrap:none;
        justify-content:space-around;
    }
    ul{
        list-style:none;
    }
    .footer{
    background-color: #0A1A2A;
    padding:70px 0;
    
    
    }
    .footer-col{
    width:25%;
    padding:0 15px;
    }
    .footer-col h4{
        font-size:18px;
        color:#ffffff;
        text-transform: capitalize;
        margin-bottom:35px;
        font-weight:500;
        position:relative;
    }
    .footer-col h4::before{
        content: '';
        position:absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height:2px;
        box-sizing: border-box;
        width:50px;
    
    
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    
    }
    .footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
    
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left:10px;
    
    }

